<app-navbarmanga></app-navbarmanga>




<!--<div class="product__sidebar__comment">-->



<div class="app-content-actions" >
  <form [formGroup]="searchForm">
    <input class="search-bar" placeholder="Search..." type="text" formControlName="search" (input)="onFormValueChanges()">
    <!-- Other form controls for genre, chapter, status, etc. -->
  </form>

</div>
  <div class="product__sidebar__comment__container">



    <div class="grid">
      <div class="product__sidebar__comment__item" *ngFor="let manga of mangas.slice(0, 6)">
        <div class="product__sidebar__comment__item__pic">
          <img [src]="manga.images.jpg.image_url" alt="">
        </div>
        <div class="product__sidebar__comment__item__text">
          <ul>
            <li>{{ manga.status }}</li>
            <li>{{manga.type}}</li>
          </ul>
          <h5><a style="text-decoration: none;color: white" href="/sec/{{ manga.mal_id }}">{{ manga.title }}</a></h5>
          <span class="author" *ngFor="let author of manga.authors; let last = last">
            {{ author.name }}
            <ng-container *ngIf="!last">,</ng-container>
          </span>

          <span><i class="fa fa-eye"></i> {{ manga.scored_by }} Views</span>
        </div>
      </div>
    </div>
    <!-- Second grid -->
    <div class="grid">
      <div class="product__sidebar__comment__item" *ngFor="let manga of mangas.slice(6, 12)">
        <div class="product__sidebar__comment__item__pic">
          <img [src]="manga.images.jpg.image_url" alt="">
        </div>
        <div class="product__sidebar__comment__item__text">
          <ul>
            <li>{{ manga.status }}</li>
            <li>{{ manga.type }}</li>
          </ul>
          <h5><a style="text-decoration: none;color: white" href="/sec/{{ manga.mal_id }}">{{ manga.title }}</a></h5>
          <span><i class="fa fa-eye"></i> {{ manga.scored_by }} Views</span>
        </div>
      </div>
    </div>
    <!-- Third grid -->
    <div class="grid">
      <div class="product__sidebar__comment__item" *ngFor="let manga of mangas.slice(12, 18)">
        <div class="product__sidebar__comment__item__pic">
          <img [src]="manga.images.jpg.image_url" alt="">
        </div>
        <div class="product__sidebar__comment__item__text">
          <ul>
            <li>{{ manga.status }}</li>
            <li>{{manga.type}}</li>
          </ul>
          <h5><a style="text-decoration: none;color: white" href="/sec/{{ manga.mal_id }}">{{ manga.title }}</a></h5>
          <span><i class="fa fa-eye"></i> {{ manga.scored_by }} Views</span>
        </div>
      </div>
    </div>

    <div class="grid">
      <div class="product__sidebar__comment__item" *ngFor="let manga of mangas.slice(19, 26)">
        <div class="product__sidebar__comment__item__pic">
          <img [src]="manga.images.jpg.image_url" alt="">
        </div>
        <div class="product__sidebar__comment__item__text">
          <ul>
            <li>{{ manga.status }}</li>
            <li>{{manga.type}}</li>
          </ul>
          <h5><a style="text-decoration: none;color: white" href="/sec/{{ manga.mal_id }}">{{ manga.title }}</a></h5>
          <span><i class="fa fa-eye"></i> {{ manga.scored_by }} Views</span>
        </div>
      </div>
    </div>

  </div>
<!--</div>-->


<app-paginate
  [currentPage]="currentPage"
  [itemsPerPage]="itemsPerPage"
  [totalItems]="totalItems"
  (pageChange)="onPageChange($event)"
></app-paginate>






