<div class="section-title">
  <h5>popular Genres</h5>
</div>
<div class="container">
  <div class="item">
    <div class="item-button">
      <a [routerLink]="['/manga-genres', 'Action']" class="button">Action</a>
    </div>
  </div>
  <div class="item">
    <div class="item-button2">
      <a [routerLink]="['/manga-genres', 'Fantasy']" class="button2">Fantasy</a>
    </div>
  </div>
  <div class="item">
    <div class="item-button3">
      <a [routerLink]="['/manga-genres', 'Shounen']" class="button3">Shounen</a>
    </div>
  </div>
  <div class="item">
    <div class="item-button4">
      <a [routerLink]="['/manga-genres', 'Sport']" class="button4">Sports</a>
    </div>
  </div>
  <div class="item">
    <div class="item-button5">
      <a [routerLink]="['/manga-genres', 'Seinen']" class="button5">Seinen</a>
    </div>
  </div>
  <div class="item">
    <div class="item-button6">
      <a [routerLink]="['/manga-genres', 'Mecha']" class="button6">Mecha</a>
    </div>
  </div>
  <div class="item">
    <div class="item-button7">
      <a [routerLink]="['/manga-genres', 'Romance']" class="button7">Romance</a>
    </div>
  </div>
  <div class="item">
    <div class="item-button8">
      <a [routerLink]="['/manga-genres', 'Horror']" class="button8">Horror</a>
    </div>
  </div>
</div>

